.resaltar{
	color: red;
	font-weight : bold;
	text-decoration: underline;
}

h1{
	color:chocolate;
}

ol li{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
	font-size: 5em;
	width: 40%;
	margin: 0px auto;
	text-decoration: underline;
}